body {
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    flex-direction: column;
    height: 120px;
    background-color: beige;
    margin: 0;
}

.top-section{
    background-color: #fff;
    display: flex;
    height: 60px;
    justify-content: space-between;
}

.bottom-section{
    height: 60px;
    background-color: rgba(68, 93, 34, 0.85)
}

.logo img {
    height: 48px;
    margin: 6px 6px;
}

.title {
    text-transform: uppercase;
    text-align: center;
}

.user {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20%;
}

.user-account {
    display: flex;
    flex-direction: row;
}

.vertical-bar {
    height: 48px;
    width: 4px;
    border-radius: 10px;
    background-color: black;
}

.user-logo img {
    height: 48px;
}

.user-cart img {
    height: 48px;
}