body {
    margin: 0;
}

header{
    display: grid;
    height: 120px;
    background-color: beige;
    margin: 0;
}

section:first-child{
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

section:last-child{
    height: 60px;
    background-color: rgba(68, 93, 34, 0.85)
}

.logo {
    background-color: red;
}

.title {
    max-height: fit-content;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
}

.user {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}